__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/

data/*.tsv
data/*.csv
models/*.pkl
models/*.pkl.gz
*.pkl.gz
reports/

prediction.csv

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

fit_75_58.py
main_75_58.py
